body{background: linear-gradient(green, white, red, gray);}
div{margin-top: auto;text-align: center; height: 200px; border: 20px; border-radius: 90px;}
.fazer_calculo{border: 10px; height: 30px; width: 390px; border-radius: 30px; font-size: 120%;}