h1{color: gold;font-family: 'Times New Roman';text-align: center;}
body{background-color: rgb(33, 133, 119); font-family: Arial; font-size: medium;}
label{font-weight: bold;}
input[type=text]{
    padding: 12px 10px;
    width: 40%;
    border:2px solid red;
    border-radius: 4px;
    border-width: medium;
    margin: 8px 0;
}
input[type=button],input[type=submit]{
    background-color: crimson;
    border: 4px;
    padding: 16px 32px;
    margin: 5px 2px;
    color: white;
}
a{color: green}