body{background-image: url("edu.jfif");
    background-repeat: no-repeat;
    background-position: left top;
};
h1{color: white;}
p{color:black;font-size: larger;font-family: Arial; text-align: justify;}
div{font-weight: bold; color: green; font-size: 130%; font-family: Arial;}
h3{color: rgb(255, 0, 0); font-weight: bold;}
a{font-family: Arial; color:white;}
